.movie-list {
    width: 100%;

    .error{
        margin-bottom: 30px;
    }

    .default,
    .future,
    .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            cursor: pointer;
            width: 200px;
            box-sizing: border-box;
            height: 330px;
            background-color: #fff;
            margin: 15px 0;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            transition: box-shadow .5s;

            &:hover {
                box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
            }

            .movie-img {
                height: 280px;
                width: 198px;
                position: relative;
                z-index: 0;

                img {
                    width: 198px;
                    height: 280px;
                }

                .detail {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    color: #fff;
                    padding: 20px 10px 10px;

                    .movie-score {
                        float: right;
                        color: #ffb400;
                        font-style: italic;
                    }
                }
            }

            .buy-ticket {
                color: #EF4238;
                text-align: center;
                height: 50px;
                line-height: 50px;

                &:hover {
                    color: #fff;
                    background-color: #EF4238;
                    cursor: pointer;
                }
            }
        }
    }

    .future {
        li {
            height: 350px;
            position: relative;
            margin-bottom: 40px;

            .likes {
                height: 35px;
                line-height: 35px;
                background-color: #FBFBFB;
                color: #ffb400;
                font-size: 14px;
                padding-left: 10px;
            }

            .movie-btn {
                height: 35px;

                span {
                    display: inline-block;
                    width: 50%;
                    font-size: 14px;
                    color: #999;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    box-sizing: border-box;

                    &:first-child {
                        border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
                    }
                }
            }

            .publish-date {
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                height: 35px;
                text-align: center;
                color: #999;
                font-size: 14px;
                user-select: none;
            }
        }
    }

    .list {
        justify-content: start;
        li {
            margin: 0 15px 100px;
            height: 280px;
            position: relative;

            .movie-img {
                position: relative;
                z-index: 11;
                transition: transform .5s;
            }

            &:hover {
                .movie-img {
                    transform: scale(1.2);
                }
            }


            .movie-title {
                display: inline-block;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .title {
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                height: 35px;
                text-align: center;
                color: #666;
                font-size: 16px;
                user-select: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .score {
                position: absolute;
                bottom: -80px;
                left: 0;
                right: 0;
                height: 35px;
                text-align: center;
                color: #FFB400;
                font-style: italic;
                font-size: 24px;
                user-select: none;
            }
        }
    }
}