.add-movie{

    & .add-movie-content{
        margin-top: 20px;
        width: 700px;

        .el-button{
            width: 500px;
        }

        .el-card__body{
            padding-right: 50px;
            padding-top: 40px;
        }
    }
}