.admin-order {

    &>.order-content {
        padding: 0;
        height: 1000px;

        
        .search{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.1);

            .el-input-group{
                width: 22%;
            }
        }
    }

    .cell {
        white-space: nowrap;
    }
}