.header {
    height: 80px;
    display: flex;
    justify-content: start;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    background-color: #fff;
    position: relative;
    z-index: 10;
    color: #666666;

    .el-icon-caret-bottom {
        transition: transform 0.5s;
    }

    &>div {
        height: 100%;
    }

    & .logo {
        width: 170px;
        background: url(https://s1.ax1x.com/2020/10/07/0aTsmR.png) no-repeat 0;
        background-size: 135px 45px;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    & .city {
        font-size: 16px;
        width: 100px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;

        &:hover {
            border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
            box-shadow: 0 -4px 4px rgba($color: #000000, $alpha: 0.1);

            &::before {
                content: '';
                width: 98px;
                height: 10px;
                background-color: #fff;
                position: absolute;
                left: 0;
                bottom: -6px;
            }

            .city-list {
                top: 80px;
            }

            .el-icon-caret-bottom {
                transform: rotate(-180deg);
            }
        }
    }

    & .nav {
        box-sizing: border-box;
        width: 500px;
        background-color: #fff;

        li {
            width: 125px;
            height: 100%;
            float: left;
            text-align: center;

            &:hover {
                background-color: #EF4238;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    & .search {
        width: 300px;
        background-color: #fff;

        .el-select .el-input.is-focus .el-input__inner {
            border-color: #C0C4CC;
        }

        .el-select .el-input__inner:focus {
            border-color: #DCDFE6;
        }
    }

    & .login {
        box-sizing: border-box;
        width: 290px;
        background-color: #fff;
        position: relative;



        &:hover {
            border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
            box-shadow: 0 -4px 4px rgba($color: #000000, $alpha: 0.1);

            .el-icon-caret-bottom {
                transform: rotate(-180deg);
            }

            .login-btn {
                top: 80px;
            }
        }


        & > .portrait {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            background: url(https://p0.meituan.net/movie/7dd82a16316ab32c8359debdb04396ef2897.png) no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);

            &.login-user {
                background: url(https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png) no-repeat;
                background-size: cover;
            }
        }

        .login-btn {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: #fff;
            box-shadow: 0 0px 4px rgba($color: #000000, $alpha: 0.1);
            border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            transition: top .5s;
            position: absolute;
            z-index: -1;
            left: -1px;
            top: -50px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            &.login{
                height: 100px;
            }

            a {
                color: #666666;
                text-decoration: none;
                font-size: 16px;

                &:hover {
                    color: #EF4238;
                }
            }
        }
    }
}